<h2>Collaborators consultation</h2>

<app-collaborators-list [collaborators]="collaborators" (select)="select($event)"></app-collaborators-list>


<div class="mt-3">
    <!-- Set disabled to true to prevent modification in consultation page -->
    <app-collaborator-form *ngIf="collaborator" [collaborator]="collaborator" [disabled]="true">
    </app-collaborator-form>
</div>