<h2>Collaborators management</h2>

<app-collaborators-list [collaborators]="collaborators" (select)="select($event)"></app-collaborators-list>

<!-- Actions -->
<div class="d-flex align-items-center mt-3">
    <!-- Create new collaborator -->
    <button type="button" class="btn btn-primary me-2" (click)="create()">
        New collaborator
    </button>

    <!-- Check button disable form on change -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="disableForm" [formControl]="disableForm">
        <label class="form-check-label" for="disableForm">
            Disable form
        </label>
    </div>
</div>

<div class="mt-3">
    <!-- 
        Pass collaborators array for managers list in form select
        Pass disableForm.value to disable form on check button change
    -->
    <app-collaborator-form *ngIf="collaborator" [collaborator]="collaborator" [managers]="collaborators"
        [disabled]="disableForm.value" (deleted)="delete($event)">
    </app-collaborator-form>
</div>