<ng-container *ngIf="collaborators?.length else noCollaborators">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" class="pointer" (click)="sort('id')">ID</th>
                <th scope="col" class="pointer" (click)="sort('firstname')">Firstname</th>
                <th scope="col" class="pointer" (click)="sort('lastname')">Lastname</th>
                <th scope="col" class="pointer" (click)="sort('managerId')">Manager</th>
                <th scope="col">Managed collaborators</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let collaborator of collaborators" class="pointer" (click)="select.emit(collaborator)">
                <th scope="row">{{collaborator.id}}</th>
                <td>{{collaborator.firstname}}</td>
                <td>{{collaborator.lastname}}</td>
                <td>{{collaborator.managerId}}</td>
                <td>{{collaborator.managedIds?.join(', ')}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

<!-- To display empty label -->
<ng-template #noCollaborators>
    No collaborators to display
</ng-template>