<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">Demo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Menus -->
                <li class="nav-item dropdown">
                    <!-- Collaborators -->
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Collaborators
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Collaborators management-->
                        <li><a class="dropdown-item" [routerLink]="['/','collaborators','management']">Management</a>
                        </li>

                        <!-- Collaborators consultation -->
                        <li><a class="dropdown-item"
                                [routerLink]="['/','collaborators','consultation']">Consultation</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container pt-3">
    <router-outlet></router-outlet>
</div>