<!-- Collaborator form -->
<form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
    <!-- Lastname -->
    <div class="mb-3">
        <label for="lastname" class="form-label">Lastname</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname">
    </div>

    <!-- Firstname -->
    <div class="mb-3">
        <label for="firstname" class="form-label">Firstname</label>
        <input type="text" class="form-control" id="firstname" formControlName="firstname">
    </div>

    <!-- Manager -->
    <div class="mb-3">
        <label for="manager" class="form-label">Manager</label>
        <select id="manager" class="form-select" formControlName="managerId">
            <option *ngFor="let manager of managers" [value]="manager.id">
                {{manager.lastname}} {{manager.firstname}}
            </option>
        </select>
    </div>

    <!-- Action buttons -->
    <ng-container *ngIf="!disabled">
        <button class="btn btn-primary me-2" type="submit">Save</button>
        <button class="btn btn-secondary me-2" type="button" (click)="reset()">Cancel</button>
        <button class="btn btn-danger me-2" type="button" (click)="delete()">Delete</button>
    </ng-container>
</form>